{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
                        
Bienvenidos a mi página

{% endblock %}

{% block titulo2 %}


CARRERAS

{% endblock %}

{% block descripcion %}
Aquí podrá agregar sugerencias sobre carreras que le gustaría que agreguemos más adelante, junto con su nombre y su correo para poder contactarlo llegado el momento.

{% endblock %}    

{% block form %}


<form action="/AppCoder/carreraFormulario/" method="POST"> {% csrf_token %}



        <p>Nombre de la carrera: <input type="text" name="nombre_carrera" > </p>
        <p>Nombre del interesado: <input type="text" name="nombre_interesado" > </p>
        <p>Correo: <input type="text" name="correo"></p>
        <input type="submit" value="Guardar">
     
    
    
    
    
    
    
</form>


                            
{% endblock %}    
