{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
                        
SECCIÓN DE FANTASÍA

{% endblock %}

{% block titulo2 %}


FANTASÍA

{% endblock %}

{% block descripcion %}
Libros de Fantasía


{% endblock %}    


{% block form %}
  

<div class="container">
    <h1>Agrega un comentario sobre este libro</h1>
</div>

{% endblock  %}

{% block contenido %}               
<div class="form-group">
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>
<br>
   
    
    {% endblock  %}