{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
                        
SECCIÓN DE FANTASÍA

{% endblock %}

{% block titulo2 %}


FANTASÍA

{% endblock %}

{% block descripcion %}
Libros de Fantasía


{% endblock %}    

{% block form %}
<p>Usuario: {{fantasia.usuario}}</p>
<p>Libro: {{fantasia.libro}}</p>
<p>Autor: {{fantasia.autor}}</p>
<p>Portada: <img src="{{ fantasia.imagen.url }}"  height="200 px" alt="Descripción de la imagen"> </p>
<p>Year: {{fantasia.year}}</p>
<p>Descripción: {{fantasia.descripcion}}</p>

<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not fantasia.comentarios.all %}
        No han comentado este libro
    {% else %}
        {% for comentariof in fantasia.comentarios.all %}
        <p>Comentario de {{comentariof.nombre}}</p>
        <p>Mensaje: {{comentariof.mensaje}}</p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'ComentarioFantasia' fantasia.pk %}"> Agregar Comentarios  </a>
    </div>
</div>
<br>

<a href="{% url 'FantasiaLeer' %}"> Regresar </a>
{% endblock  %}