{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
                        
Bienvenidos a mi página

{% endblock %}

{% block titulo2 %}


Empecemos!

{% endblock %}


{% block descripcion %}



{% for ciencia in cienciaf %}

<p>Ciencia Ficción: {{ciencia.libro}}</p>
<p>Autor: {{ciencia.autor}}</p>
<p>Year: {{ciencia.year}}</p>

<button>
    <a href="{% url 'CienciaFiccionEditar' ciencia.libro %}"> Editar Libro   </a>
    
    
</button>

<button>

    <a href="{% url 'CienciaFiccionEliminar' ciencia.libro %}"> Eliminar Libro   </a>
</button>




################################################


{% endfor  %}

<a href="{% url 'CienciaFiccionCrear' %}"> Crear Libro   </a>




                           

                            
{% endblock %}    

